<div class="container-fluid fondo" >
    <div class="row">
        <div class="col-11">
          <img class="logoAviva" src="assets/images/logo.svg">
      </div>  
      <div class="col-1">
        <mat-icon (click)="goToHome()" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </div>
    </div>
    <div class="row">
        <div class="col white">
            <h2><span>HOLA!!!</span> <br>  SI ERES USUARIO <i>RAPIPASS</i> <br> "INICIA EL ESCANEO DE TU CÓDIGO QR POR AQUÍ Y NO TENDRÁS QUE PASAR POR ADMISIÓN."</h2>
            <button class="btn-primary btn-block botonIniciar" (click)="goToHome()">INICIAR ESCANEO DE QR</button>
        </div>
        <div class="col containerImagenes">
          <div class="row">
            <div class="col-12 containerLogo">
              <img class="logo"  src="assets/images/rapipass.png" alt="">
            </div>
            <div class="col-12">
              <img class="imagen" src="assets/images/uno.png" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
 
