<div class="container-fluid fondo" >
    <div class="row">
        <div class="col-11">
          <img class="logoAviva" src="assets/images/logo.svg">
      </div>  
      <div class="col-1">
        <mat-icon (click)="goToHome()" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </div>
    </div>
    <div class="row">
        <div class="col white">
            <h2>Si Pagaste con tarjeta desde web o apps , scanea tu QR y no esperes más, te atendemos más rápido....</h2>
            <button class="btn-primary btn-block botonIniciar" (click)="goToHome()">Comenzar</button>
        </div>
        <div class="col"></div>
    </div>
  </div>
 
