<div class="container-fluid">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <span>Bienvenido a Aviva</span>
    <div class="spacer"></div>
  </div>

  <div class="content" role="main" *ngIf="visible == true">
    <div>
      <h4>scanea tu QR</h4>
    </div>
    <input type="hidden" #selection>
    <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><div>
                  <qr-scanner
                    [debug]="false"
                    [canvasWidth]="1080" 
                    [canvasHeight]="720" 
                    [stopAfterScan]="true"
                    [updateTime]="500"> 
                  </qr-scanner>
                </div>
              </pre>
    </div>
  </div>
  <div class="containerLoader">
    <div *ngIf="loader == true" class="center">
      <mat-spinner></mat-spinner>
      <label for="">Revisando información de cita</label>
    </div>
  </div>

  <div class="containerMessage">
    <div *ngIf="visible == false" class="center">
      <p *ngIf="resultSearch.result == 'ok'" class="dataPaciente">Bienvenido {{resultSearch.PATIENTFULLNAME}}, hoy tiene una consulta {{resultSearch.BASICSERVICEDESCRIPTION}} , con el doctor {{resultSearch.PROFESSIONALFULLNAME}}, dirigete a Pre-consulta.</p>
      <p *ngIf="resultSearch.result == 'error'">Por favor dirigete a admisión</p>
    </div>
  </div>

</div>
