.containerLoader{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35vh;
   /*  background: #1572A1; */
    z-index: 150;
    center{
        text-align: center;
    }
    label{
        margin-top: 30px;
        color:#fff;
    }
}
.toolbar{
    /* background: #1572A1!important; */
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        text-align: center;
        font-weight: 600;
        font-size:2em;
    }
}
.container-fluid{
 /*    background: #1572A1; */
 background-color: #20668b;
 background-image: url(../../../assets/images/cita_fondo.jpg);
 background-repeat: no-repeat;
 background-size: contain;
 background-position: top;
 min-height: 100vh;
    height: 100vh;
}
.containerLoader{
    padding:20%;
}
/* .content{
    background: #1572A1;
} */


:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
.textoEntrada{
    color:#fff;
    text-align: center;
    z-index: 100;
    font-size:2.3em;
    padding-top: 50px;
}
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .terminal {
    position: relative; 
    width: 100%;
    max-width: 800px;
    height: 700px;
    border-radius: 6px;
    margin-top: 5%;
    overflow: hidden;
    margin-left: calc( 50% - 400px );
  }
.dataPaciente{
    color:#fff;
    text-align: center;
    width: 70%;
    font-size:2em;
    margin-left:15%!important;
    line-height: 2.2em;
}
/* .containerMessage{
    margin-top:-280px;
} */
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #fff;
    }
.bold{
  font-weight: 600;
  text-align: left;
  color:#fff;
  font-size:30px;
  line-height: 45px;
  margin-bottom:15px;
}
.big{
  font-size:1.8em;
}
.left{
  text-align: right;
  color:#EB954D;
  font-size:35px;
}
.indicaciones{
  color:#fff;
  margin-top:150px!important;
  font-weight: 600;
  text-align: center;
  font-size:2,2em;
}
video{
  height: 800px;
  width:600px;
  margin-left:50px!important;
}
.logoAviva{
  width:150px;
  margin-top:30px;
  margin-left: 30px;
}
mat-icon{
  margin-top:30px;
  text-align: right;
  font-size:4em!important;
  color:#fff;
  cursor:pointer;
}
.error{
  color:#fff;
  text-align: center;
  font-size:2.5em;
  margin-left:50px;
  margin-top:100px!important;
}
  