.containerLoader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    center{
        text-align: center;
    }
    label{
        margin-top: 30px;
        color:red;
    }
}
.toolbar{
    background: #00C1D4!important;
    span{
        text-align: center;
    }
}