<div class="container-fluid">
    <div class="wrapper">
        <div class="card ">
            <h4>Login</h4>
            <div class="row padding">
                <div class="col-12 ">
                    <div class="form-control-group">
                        <label for="">Ingresa tu código de usuario</label>
                        <input type="text" class="form-control" placeholder="Código usuario" name="email" [(ngModel)]="email">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-control-group">
                        <label for="">Ingresa tu Password</label>
                        <input type="password" class="form-control" placeholder="contraseña" [(ngModel)]="password">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary btn-block" (click)="login()">LOGIN</button>
                </div>
                <div class="col-12 paciente">
                    <a (click)="goToPatient()" class="paciente center">Ingresar como paciente</a>
                </div>
            </div>
        </div>
    </div>
</div>
