<div class="container-fluid">
    <div class="wrapper">
        <div class="card ">
            <h4>Login</h4>
            <div class="row padding">
                <div class="col-12 ">
                    <div class="form-control-group">
                        <label for="">Ingresa tu Email</label>
                        <input type="text" class="form-control" placeholder="Correo">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-control-group">
                        <label for="">Ingresa tu Password</label>
                        <input type="password" class="form-control" placeholder="contraseña">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary btn-block" (click)="goToHome()">LOGIN</button>
                </div>
            </div>
        </div>
    </div>
</div>
