.table{
    margin-top:80px;
}
h3{
    text-align: center;
    color:#A7A9AB;
    font-size:1.4em;
    margin-top:10px;
}
.rojo{
    color:red;
    font-weight: 500;
}
.verde{
    color:green;
    font-weight: 500;
}
.orange{
    color:orange;
}
